div.dc-chart {
	float: none;
}

#year-panel {
	float: right;
	width: 100%;
	background: #CCC;
}

#region-panel {
	float: right;
	width: 50%;
	background: #CCC;
}

#state-panel {
	width: 50%;
	background: #CCC;
}

