

#simple-charts {
	width: 49%;
	float: left;
	padding: 5px;
}

#country-geo-panel {
	position: relative;
	overflow: auto;
	width: 49%;
	height: 98%;
	float: right;
	background: #EAEAEA;
	margin-top: 5px;
	margin-right: 5px;

	h3 {
		margin-top: 10px;
		margin-left: 10px;
		margin-bottom: 0px;
		position: relative;
	}

	#country-chart {
		position: absolute;

	}
}

#region-panel {
	position: relative;
	float: left;
	width: 100%;
	height: 50%;
	background: #EAEAEA;

	#region-chart{
		height: 80%;
		position: absolute;
		bottom: 0px;
	}

	#funding-chart {
		width: 30%;
		float: right;
	}
}

#assistance-category-panel {
	position: relative; 
	float: left;
	width: 48%;
	height: 47%;
	background: #EAEAEA;
	margin-top: 5px;
	h3 {
		margin-left: 15px;
		margin-top: 10px;
	}

	#assistance-category-chart {
		
		height: 80%;
		position: absolute;
		bottom: 0px;
	}
}

#year-panel {
	position: relative;
	float: right;
	width: 48%;
	height: 47%;
	background: #EAEAEA;
	margin-top: 5px;
	h3 {
		margin-left: 20px;
	}

	#year-chart {
		
		height: 80%;
		position: absolute;
		bottom: 0px;

		svg {
			padding-left: 10px;
		}
	}
}

#year-panel, #region-panel, #assistance-category-panel, #country-geo-panel {
	border: 1px solid #B7B7B7;
}

h3 {
	position: absolute;
}
