
//Styles for mobile screen size
@media only screen and (max-width: 36em) {
	
	//filter builder strike through not needed on hover
	body .filter-builder li.filtered-field ul.filter-value-list > li.filter-value {
		&:hover {
			text-decoration: none ;
			color: #666;
			border: 1px solid #d3d3d3;
		}
		
		//tap/active give strike through 
		&:active {
			text-decoration: line-through;
			border-color:#eaeaea;
			color:#aaa;
		}
	}

	//Do not show tool tips 
	.d3-tip-mouse {
		display: none;
	}
}

.hide-visually {
	display: none;
}

//styles for geoChoropleth zoom buttons
.zoomControlsContainer {

	position: absolute;
	margin-left: 10px;
	margin-top: 10px;

	.zoomButton {
		float: left;
	}

	.resetZoomButton {
		float: right;
		margin-left: 10px;
	}
}

//remove the floating dc gives to most charts
div.dc-chart.kpi-number {
	float: none;
}

.center-label{
	text-anchor: middle;
    alignment-baseline: middle;
    fill: #222;
    font-size: 12px;
}

g.country path {
	stroke-width: 1;
	stroke: #fff;
	cursor: pointer;

	&:hover {fill: #C2113A;}
}

g.country.selected path, g.country.deselected path {
	stroke-width: 1;
	stroke: #fff;
	&:hover {fill: #C2113A;}
}