.kpi-component-container {
	background-color: #336799;
    position: relative;
    height: 88px;
    margin-right: 20px;
    margin-top: 20px;
    h3 {
        margin-top: 14px;
        margin-left: 12px;
        font-family: Arial;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 11px;
        position: relative;
        color: #fff;
    }
	.dc-bar-gauge-background
    {
        fill: #4787c4;
    }

    .dc-bar-gauge-foreground
    {
        fill: #aed1eb;

    }

    .kpi-gauge.dc-bar-gauge {
        position: absolute;
        top: 0px;
    }

    .kpi-number.dc-chart {
        position: relative;
        font-size: 38px;
        font-family: 'Abel', Helvetica, Arial, sans-serif;
        color: #fff;
        top: 10px;
        font-weight: 400;
        margin-left: 10px;
    }

}